---
layout: default
---
{%set length = collections.article | length%}
<ul>
    
    <!-- {{collections.article[length - 1].data.title}} -->
{%for post in collections.article%}

    <h1 class="text-2xl">{{post.data.title}}</h1>
    

{%endfor%}
{{collections.article | length}}
{{collections.article[length - 1].data.title}}
    <h2></h2>
</ul>



<div class="articleIndex">
  <div class="articleIndex__container">

<section>
    <h2>
      <span>Featured Article</span>
    </h2>


  <div class="featuredArticle">
    <div class="featuredArticle__card">
        <div class="featuredArticle__card__img">
            <img src="{{collections.article[length - 1].url}}{{collections.article[length - 1].data.image}}"
                alt="" />
            <svg viewBox="0 0 20 104"
                fill="currentColor">
                <polygon points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104"></polygon>
            </svg>
        </div>
        <div class="featuredArticle__card__content">
            <div class="featuredArticle__category">
                <p>
                    Water Filtration
                </p>
            </div>
            <h5 class="featuredArticle__title">
                {{collections.article[length - 1].data.title}}
            </h5>
            <p class="featuredArticle__snippet">
                {{collections.article[length - 1].data.snippet}}
            </p>
            <div class="featuredArticle__link">
                <a href="{{collections.article[length - 1].url}}">
                    <button type="submit">
                    Keep Reading
                </button>
                </a>
            </div>
        </div>
    </div>
  </div>
</section>
    
    
<section>
    <h2>
      <span>Recent Articles</span>
    </h2>

    <div class="recentArticles">
      <div class="recentArticles__card">
        <div class="recentArticles__card__img">
          <img src="https://cdn.devdojo.com/episode/images/August2020/laravel-livewire-introduction1.jpg" alt="Cover image for livewire introduction course." />
        </div>
        <div class="recentArticles__content">
          <div class="recentArticles__content__container">
            <div class="recentArticles__content__container__wrap">
              <a href="#">Mastering
                Livewire</a>
              <p>Tired of Vue or React? Why not try Livewire, the fullstack framework for dynamic interfaces.</p>
            </div>
            <div class="recentArticles__category">
              <a href="#">
                <span>Livewire</span>
              </a>
            </div>
          </div>
          <div class="recentArticles__bottom">
            <div class="recentArticles__bottom__author">
              <a href="#">
                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
              </a>
            </div>
            <div class="recentArticles__bottom__authorInfo">
              <p>
                <a href="#">Jane Cooper</a>
              </p>
              <div class="recentArticles__bottom_date">
                <time datetime="2020-05-31">May 31, 2020</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</section>
    
<section>  
    <h2>
      <span>Our Latest Courses</span>
    </h2>

    <div class="articleCard">
      <div class="articleCard__container">
        <div class="articleCard__img">
          <img src="https://cdn.devdojo.com/episode/images/August2020/laravel-livewire-introduction1.jpg" alt="Cover image for livewire introduction course." />
        </div>
        <div class="articleCard__body">
          <div class="articleCard__body__container">
            <div class="articleCard__info">
              <a href="#" class="">Mastering
                Livewire</a>
              <p>Tired of Vue or React? Why not try Livewire, the fullstack framework for dynamic interfaces.</p>
            </div>
            <div class="articleCard__category">
              <a href="#">
                <span>Livewire</span>
              </a>
            </div>
          </div>
          <div class="articleCard__bottom">
            <div class="articleCard__authorImg">
              <a href="#">
                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
              </a>
            </div>
            <div class="articleCard__authorInfo">
              <p>
                <a href="#">Jane Cooper</a>
              </p>
              <div class="articleCard__date">
                <time datetime="2020-05-31">May 31, 2020</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</section>
    
    
