---
layout: layouts/servicesSearch/servicesSearch
eleventyExcludeFromCollections: true
serviceType: Residential Plumbing
serviceImage: /static/img/plumber-working-in-home.jpg
headingText: We take care of your home like it was our own
title: Residential Plumbing Services
headercontent: Need your backflow preventer tested? Yep, we do that. Interested in moving from a traditional water heater to a new tankless system? We’ve got you covered. From regular maintenance to large-scale commercial projects, and know how to get the job done right.
buttonText: Get Service Pricing
buttonIcon: fal fa-tools
tags:
    - residentialServices
---

<script>
  var sourceData = [
  
  {% for service in collections.residentialServices %}
      
        {
        service_name: "{{service.data.title}}",
        service_snippet: "{{service.data.snippet}}",
        service_image: "{{service.data.image}}",
        service_link: "/services/residential-services{{service.data.slug}}"
        },
     {% endfor %}
  ];
  var sourceData1 = [
      
  {% for service in collections.article %}
      
        {
        article_name: "{{article.data.title}}",
        article_snippet: "{{article.data.snippet}}",
        article_image: "{{article.data.image}}",
        article_link: "{{article.data.slug}}"
        },
     {% endfor %}
    
  ];
  let text = "";

  function loadEmployees() {
    return {
      search: "",
      test: "test",
      results: {
        services: {
          search: "",
          pageNumber: 0,
          size: 10,
          total: "",
          myForData: sourceData,
          get filteredResults() {
            const start = this.pageNumber * this.size,
              end = start + this.size;
            if (this.search === "") {
              this.total = this.myForData.length;
              return this.myForData.slice(start, end);
            }
            console.log(this.search)
            //Return the total results of the filters
            this.total = this.myForData.filter((item) => {
              return item.service_name
                .toLowerCase()
                .includes(this.search.toLowerCase());
            }).length;
            console.log("this.total = " + this.total)
            //Return the filtered data
            // return item.service_name&&item.employee_salary
            return this.myForData
              .filter((item) => {
                return item.service_name 
                  .toLowerCase()
                  .includes(this.search.toLowerCase());
              })
              .slice(start, end);
          },
          //Create array of all pages (for loop to display page numbers)
          pages() {
            return Array.from({
              length: Math.ceil(this.total / this.size),
            });
          },
          //Next Page
          nextPage() {
            this.pageNumber++;
          },
          //Previous Page
          prevPage() {
            this.pageNumber--;
          },
          //Total number of pages
          pageCount() {
            return Math.ceil(this.total / this.size);
          },
          //Return the start range of the paginated results
          startResults() {
            return this.pageNumber * this.size + 1;
          },
          //Return the end range of the paginated results
          endResults() {
            let resultsOnPage = (this.pageNumber + 1) * this.size;
            if (resultsOnPage <= this.total) {
              return resultsOnPage;
            }
            return this.total;
          },
          //Link to navigate to page
          viewPage(index) {
            this.pageNumber = index;
          },
        },
        articles: {
          search: "",
          pageNumber: 0,
          size: 3,
          total: "",
          myForData: sourceData1,
          get filteredResults() {
            const start = this.pageNumber * this.size,
              end = start + this.size;
            if (this.search === "") {
              this.total = this.myForData.length;
              return this.myForData.slice(start, end);
            }
            console.log(this.search)
            //Return the total results of the filters
            this.total = this.myForData.filter((item) => {
              return item.service_name
                .toLowerCase()
                .includes(this.search.toLowerCase());
            }).length;
            console.log("this.total = " + this.total)
            //Return the filtered data
            return this.myForData
              .filter((item) => {
                return item.service_name
                  .toLowerCase()
                  .includes(this.search.toLowerCase());
              })
              .slice(start, end);
          },
          //Create array of all pages (for loop to display page numbers)
          pages() {
            return Array.from({
              length: Math.ceil(this.total / this.size),
            });
          },
          //Next Page
          nextPage() {
            this.pageNumber++;
          },
          //Previous Page
          prevPage() {
            this.pageNumber--;
          },
          //Total number of pages
          pageCount() {
            return Math.ceil(this.total / this.size);
          },
          //Return the start range of the paginated results
          startResults() {
            return this.pageNumber * this.size + 1;
          },
          //Return the end range of the paginated results
          endResults() {
            let resultsOnPage = (this.pageNumber + 1) * this.size;
            if (resultsOnPage <= this.total) {
              return resultsOnPage;
            }
            return this.total;
          },
          //Link to navigate to page
          viewPage(index) {
            this.pageNumber = index;
          },
        },
        searchResults() {
          let search = "";
          this.services.search = search;
        }
      }
    };
  }
</script>