---
layout: default
---


<section class="serviceInformation">
  <div class="serviceImage">
    <img {% srcset serviceInfo.imageTitle, serviceInfo.imageMod, "640", "767", '1023', '747', '896' %} loading="lazy" alt="{{title}}" />
  </div>
  <div class="serviceContent">
    <div class="serviceContent__wrapper" x-data="{tab: 'features'}">
      <div class="title">
        <h2>
          {{title}}
        </h2>
      </div>
      <div class="content">
        <div class="contentTitle">
          <h4>Service Details</h4>
        </div>
        <div class="contentParagraph">
            {% set snippet %} {{serviceInfo.details}} {% endset %}
          {{snippet | markdown | safe}}
        </div>
        <div class="contentTitle">
          <h4>Service Features</h4>
        </div>
        <div class="contentFeatures">
          <ul>

            {% for feature in serviceInfo.serviceFeatures %}
            <li>
              <p>
                {{feature.feature}}
              </p>
            </li>
            {% endfor %}
  
          </ul>
        </div>
      </div>

      <div class="iconBoxes">

        


                {% for icon in serviceInfo.featureIcons %}

                    {% if icon === 'Fast Installation' %}

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fal fa-rabbit-fast"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Fast Installation
                                </span>
                            </div>
                        </div>

                    {% elseif icon === 'Lower Energy Cost' %} 
                       
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-lightbulb-dollar"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Lower Energy Cost
                                </span>
                            </div>
                        </div>

                    {% elseif icon === 'Eco-Friendly' %} 
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-seedling"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Eco Friendly
                                </span>
                            </div>
                        </div>

                    {% elseif icon === 'Annual Inspection Req.' %} 
                        
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-calendar-check"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Annual Inspection Required
                                </span>
                            </div>
                        </div>

                    {% elseif icon === 'Special Savings' %} 
                        
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-usd-circle"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Special Savings
                                </span>
                            </div>
                        </div>

                    {% elseif icon === 'Cleaner Water' %} 

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-tint"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Cleaner Water
                                </span>
                            </div>
                        </div>

                    {% elseif icon === 'Instant Hot Water' %} 
                        
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-thermometer-three-quarters"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Instant Hot Water
                                </span>
                            </div>
                        </div>

                    {% elseif icon === '1 Year Warranty' %} 
                        

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-badge-check"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    1 Year Warrant
                                </span>
                            </div>
                        </div>
                    {% elseif icon === '2 Year Warranty' %} 
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-badge-check"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    2 Year Warrant
                                </span>
                            </div>
                        </div>

                    {% elseif icon === '3 Year Warranty' %} 
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-badge-check"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    3 Year Warrant
                                </span>
                            </div>
                        </div>

                    {% elseif icon === '4 Year Warranty' %} 
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-badge-check"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    4 Year Warrant
                                </span>
                            </div>
                        </div>

                    {% elseif icon === '5 Year Warranty' %} 
                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-badge-check"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    5 Year Warrant
                                </span>
                            </div>
                        </div>

                    {% elseif icon === 'Premium Quality' %} 
                        

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-award"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Premium Quality
                                </span>
                            </div>
                        </div>

                    {% elseif icon === 'Wifi Enabled' %} 

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-wifi"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Wifi Enabled
                                </span>
                            </div>
                        </div>

                        {% elseif icon === 'Regular Home Maintenance' %} 

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-home-lg"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Regular Home Maintenance
                                </span>
                            </div>
                        </div>

                        {% elseif icon === 'Regular Maintenance' %} 

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fad fa-wrench"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Regular Maintenance
                                </span>
                            </div>

                            {% elseif icon === 'Fast Repair' %} 

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fal fa-rabbit-fast"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Fast Repair
                                </span>
                            </div>
                        </div>

                        {% elseif icon === 'Fast Service' %} 

                        <div class="iconBox">
                            <div class="icon">
                                <i class="fal fa-rabbit-fast"></i>
                            </div>
                            <div class="iconTitle">
                                <span>
                                    Fast Service
                                </span>
                            </div>
                        </div>

                    {% endif %}
            {% endfor %}


  

      </div>
      <div class="pricingButton">
        <button>
          <a href="javascript:void(Tawk_API.toggle())">
              <span><i class="fal fa-usd-circle"></i>Get Service Pricing</span>
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="serviceFAQs">
  <div class="serviceFAQs__container">
    <div class="serviceFAQs__wrapper">
      <div class="buffer">
        <div class="content">
          <div class="info">
            <div class="infoTitle">Frequently asked <span class="font-medium">Questions</span></div>
            <div class="infoContent">
              <p>Have a few questions about this particular service? Take a look at some of our frequently asked questions to learn more.</p>
            </div>
          </div>
          <div class="questions" x-data="{faq:'faq0'}">
            <div class="questionContainer">
                
              {% for faq in serviceFaqs %}

                <div class="questionWrap">
                <div x-on:click="faq = (faq === 'faq{{loop.index}}') ? '' : 'faq{{loop.index}}'" class="faq">
                  <div class="faqText">{{faq.question}}</div>
                  <div class="faqIconContainer">
                    <div class="icon">
                      <i x-bind:class="{'fa-chevron-up': faq === 'faq{{loop.index}}', 'fa-chevron-down': faq != 'faq{{loop.index}}'}" class="far "></i>
                    </div>
                  </div>
                </div>
                <div class="answer" x-show="faq === 'faq{{loop.index}}'">
                    <!-- {{service-faqs.faq.answer}} -->
                    {{faq.answer}}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="serviceCTA">
    <div class="ctaWrapper">
        <h3>Ready to talk to a plumber you can trust?</h3>
        <p>Get in touch with one of our plumbers and we'll take care of whatever plumbing issue you're experience.</p>
        <button>
            <a href="tel:708-428-4600"><i class="fas fa-mobile-alt"></i>Talk To A Plumber</a>
        </button>
        <div class="cta">
            <span>
                <a href="javascript:void(Tawk_API.toggle())">
                    <i class="fal fa-comment-dots"></i>Chat Now
                </a>
            </span>
        </div>
    </div>
</section>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Mokena",
        "addressRegion": "IL",
        "postalCode": "60448"
      },
    
      "description": "Trustworthy plumbers providing the highest quality plumbing service.",
      "name": "Chicagoland Plumbing Services, Inc.",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "closes": "17:00:00",
          "dayOfWeek": "https://schema.org/Monday",
          "opens": "09:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes": "17:00:00",
          "dayOfWeek": "https://schema.org/Tuesday",
          "opens": "09:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes": "17:00:00",
          "dayOfWeek":  "https://schema.org/Wednesday",
          "opens": "09:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes":  "17:00:00",
          "dayOfWeek": "https://schema.org/Thursday",
          "opens": "09:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes": "17:00:00",
          "dayOfWeek":  "https://schema.org/Friday",
          "opens": "09:00:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "closes": "12:00:00" ,
          "dayOfWeek": "https://schema.org/Saturday",
          "opens": "08:00:00"
        }
        
      ],
      "telephone": [
          "708-428-4600",
          "815-463-1900"
      ],
      "url": "http://www.chicagolandplumbing.com",
      "logo": "https://res.cloudinary.com/chicagoland-plumbing/image/upload/v1614289840/schema-logo.jpg",
      "image": "https://res.cloudinary.com/chicagoland-plumbing/image/upload/v1614289840/schema-logo.jpg"
    },
    
    </script>
    

<script type="application/ld+json">
    {    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Residential Services",
      "item": "https://chicagolandplumbing.com/services/{{serviceParentSlug}}"
    },{
      "@type": "ListItem",
      "position": 2,
      "name": "{{title}}"
    }]
  }
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
        {% for faq in serviceFaqs %}
            {% if loop.last %}
            {
                "@type": "Question",
                "name": "{{faq.question}}",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "{{faq.answer}}"
                }
              }
              {% else %}
              {
                "@type": "Question",
                "name": "{{faq.question}}",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "{{faq.answer}}"
                }
              },
            {% endif %}
        {% endfor %}
        ]}
</script>