.serviceInformation{
    @apply
        lg:container 
        lg:mx-auto 
        lg:flex 
        lg:flex-row
        lg:my-8
        lg:pt-12;

    .serviceImage{
        @apply
        w-full 
        mx-auto 
        lg:m-0 
        lg:w-7/12 
        lg:mt-10 
        lg:mb-12 
        h-auto;

        img{
            @apply
            w-full
            lg:rounded 
            lg:shadow-lg 
            lg:sticky 
            lg:mx-auto
            lg:w-auto
            lg:top-48;
        }
        
        @media (min-width: 1024px){
            img{
                max-height: 80vh;
            }
        }
    }

    .serviceContent{
        @apply
        container 
        mx-auto 
        lg:w-5/12 
        lg:m-0 
        lg:max-w-max;

        .serviceContent__wrapper{
            @apply
            p-8 
            flex 
            flex-col 
            md:w-4/5 
            mx-auto 
            lg:m-0 
            lg:w-full;

            .title{
                @apply
                w-full;

                h2{
                    @apply
                    text-cps-blue-700 
                    capitalize 
                    font-bold  
                    text-4xl 
                    mb-4;
                }
            }

            .content{
                @apply
                flex 
                flex-col;
                
                .contentTitle{
                    @apply
                    w-full 
                    border-b-2 
                    py-2 
                    transition 
                    duration-300 
                    ease-in-out 
                    border-cps-blue-500 
                    text-cps-blue-700 
                    mt-2 
                    lg:mt-0 
                    xl:mt-2;

                    h4{
                        @apply
                        font-bold 
                        text-xl 
                        pl-4;
                    }
                }

                .contentParagraph{
                    @apply
                    flex 
                    py-2 
                    flex-col;

                    p{
                        @apply
                        py-2 
                        px-4 
                        text-sm 
                        text-gray-700
                        sm:text-base;
                    }
                }

                .contentFeatures{
                    @apply
                    flex 
                    py-2;

                    ul{
                        @apply
                        list-disc 
                        px-5;

                        li{
                            @apply
                            py-2;

                            p{
                                @apply
                                text-sm 
                                text-gray-700
                                sm:text-base;
                            }
                        }
                    }
                }

                
            }

            .iconBoxes{
                @apply
                grid 
                grid-cols-3 
                gap-2 
                content-around 
                mt-8;

                .iconBox{
                    @apply
                    flex 
                    flex-col 
                    border 
                    rounded 
                    justify-center 
                    col-span-1 
                    border-gray-200 
                    items-center 
                    justify-center 
                    hover:shadow-lg
                    transition
                    duration-300
                    p-2;

                    .icon{
                        @apply
                        flex 
                        flex-col 
                        rounded 
                        justify-center 
                        col-span-1
                        items-center 
                        justify-center 
                        p-1
                        text-cps-blue-500
                        transition
                        duration-300;

                        i{
                            @apply
                            
                            text-4xl;
                        }
                    }
                
                .iconBox:hover{
                    .icon{
                        @apply
                        text-cps-orange-500;
                    }
                }

                    .iconTitle{
                        @apply
                        w-full 
                        text-center 
                        font-thin 
                        leading-tight 
                        flex 
                        flex-grow 
                        items-center 
                        justify-center;
                    }
                }
            }

            .pricingButton{
                @apply
                flex
                my-8
                hover:shadow-lg
                    transition
                    duration-300;

                button{
                    @apply
                    p-4 
                    flex 
                    bg-cps-orange-500 
                    hover:bg-cps-orange-400
                    transition
                    duration-300
                    rounded 
                    justify-center 
                    w-full 
                    items-center;
                    a{
                        span{
                            @apply
                            font-bold 
                            text-white 
                            capitalize 
                            text-center 
                            text-2xl;

                            i{
                                @apply
                                pr-4
                            }
                        }
                    }
                }

            }
        }
    }
}

.serviceFAQs{
    .serviceFAQs__container{
        @apply
        bg-cps-blue-700
        py-10;

        .serviceFAQs__wrapper{
            @apply
            mx-auto 
            max-w-6xl;

            .buffer{
                @apply
                p-2;
                .content{
                    @apply
                    flex 
                    flex-col 
                    md:flex-row;

                    .info{
                        @apply
                        md:w-1/3 
                        p-4 
                        text-white;

                        .infoTitle{
                            @apply
                            text-3xl;
                        }
                        .infoContent{
                            @apply
                            my-4;
                        }
                    }

                    .questions{
                        @apply
                        md:w-2/3;

                        .questionContainer{
                            @apply
                            p-4;

                            .questionWrap{
                                @apply 
                                mb-2;

                                .faq{
                                    @apply
                                    font-medium 
                                    rounded 
                                    text-lg 
                                    px-2 
                                    py-2 
                                    flex 
                                    text-gray-800 
                                    flex-row-reverse 
                                    mt-2 cursor-pointer 
                                    text-black bg-white 
                                    hover:bg-white;

                                    .faqText{
                                        @apply
                                        flex-auto;
                                    }

                                    .faqIconContainer{
                                        @apply
                                        px-2 
                                        mt-1;

                                        .icon{
                                            @apply
                                            -mt-1;
                                        }
                                    }
                                }

                                .answer{
                                    @apply
                                    p-4 
                                    pt-2 
                                    -mt-1 
                                    text-justify 
                                    text-left 
                                    text-gray-800 
                                    mb-5 
                                    bg-white 
                                    rounded-b;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.serviceCTA{
    @apply
    w-full 
    
    mx-auto
    py-16
    bg-gray-200
    md:py-24;
    
    .ctaWrapper{
        @apply
        mx-auto
        container
        px-8
        flex
        flex-col;
        h3{
            @apply
            text-3xl
            md:text-4xl
            font-bold
            text-center
            capitalize
            text-cps-blue-700
            pb-6;
        }
        p{
            @apply
            text-lg
            text-gray-700
            text-center
            pb-6;
        }
        button{
            @apply
            mt-6
            bg-cps-orange-500
            hover:bg-cps-orange-400
            transition
            duration-300
            p-4
            mx-auto
            rounded
            shadow-lg
            text-white
            text-2xl
            flex
            justify-center
            items-center
            mx-auto
            w-full
            px-12
            shadow-lg
            md:hidden;

            a{
                i{
                    @apply
                    text-2xl
                    pr-4;
                }
            }
        }
        .cta{
            @apply
            mt-8
            hidden
            bg-cps-orange-500
            hover:bg-cps-orange-400
            transition
            duration-300
            p-4
            rounded
            shadow-lg
            text-white
            text-3xl
            md:flex
            mx-auto
            md:w-72
            justify-center
            items-center;

            span{
                a{
                    i{
                        @apply
                        text-3xl
                        pr-4;
                    }
                }
            }
        }
    }
}
