footer{
    @apply
    text-gray-600
    absolute
    mx-auto
    w-full
    bg-cps-blue-700;
    
    .footer__container{
        @apply
        container 
        px-5 
        py-2 
        mx-auto 
        flex 
        items-center 
        sm:flex-row 
        flex-col
        xl:mx-auto
        xl:px-20;

        a{
            @apply
            flex 
            font-medium 
            items-center 
            md:justify-start 
            justify-center 
            text-white;

            img{
                @apply
                h-20;
            }


        }

        p{
            @apply
            text-sm 
            flex
            font-medium
            text-white 
            sm:ml-4 
            sm:pl-4 
            sm:border-l-2 
            sm:border-white 
            sm:py-2 
            sm:mt-0 
            mt-4;

            a{
                @apply
                text-white 
                hover:text-cps-orange-400
                ml-1;
            }
        }

        span{
            @apply
            inline-flex 
            sm:ml-auto 
            sm:mt-0 
            mt-4 
            justify-center 
            sm:justify-start;   

            a{
                @apply
                text-white
                hover:text-cps-orange-400
                p-4
                md:text-xl;

                i{}
            }
        }
    }
}