

<footer>
  <div class="footer__container">
    <div class="logo">
        <img src="https://res.cloudinary.com/chicagoland-plumbing/image/upload/w_80/cps-logo.png" loading="lazy" alt="Chicagoland Plumbing Services, Inc." />
    
    </div>
    <div class="copyright">
        <span>
            © 2021 Chicagoland Plumbing Services, Inc.
        </span>
    </div>
    <div class="sitemap">
      <a href="{{'/sitemap' | url}}">Sitemap</a>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/chicagolandplumbing">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://bit.ly/3k2b7as">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.yelp.com/biz/chicagoland-plumbing-services-mokena">
        <i class="fab fa-yelp"></i>
      </icons>
      
    </span>
  </div>
</footer>