@import "tailwindcss/base";

@import "tailwindcss/components";


@import "tailwindcss/utilities";

@import "../../_includes/partials/header/header.css";
@import "../../_includes/partials/footer/footer.css";
@import "../../_includes/partials/heroCTA/heroCTA.css";

/* LAYOUTS */
@import "../../_includes/layouts/service/service.css";
@import "../../_includes/layouts/servicesSearch/servicesSearch.css";
@import "../../_includes/layouts/article/article.css";
@import "../../_includes/layouts/articleIndex/articleIndex.css";

/* PAGES */
@import "./pages/index.css";




/*Your Custom CSS Goes here*/

.pageContainer{
    @apply
    relative
    mt-24
    lg:mt-40
    lg:-mb-24;
    min-height:calc(100vh - 9.5rem - 8px);
}