<section class="heroCTA">
  <div class="wrapper">
    <div class="title">
      <h1>Plumbers You Can
        <br><span>Actually</span> Trust
      </h1>
      <p>Now that you've found a plumbing company you can trust, we have one question for you:</p>
      <div class="buttons">
        <button>How Can We Help You?</button>
      </div>
    </div>
    <div class="heroImg rounded-full">
        <img {% srcset "trustworthy-plumber", "", "500", "224", '512', '512',  '512' %} loading="lazy" alt="Plumber from Chicagoland Plumbing" />
    
    </div>
  </div>
<div class="curveBottom">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="#004f9e" fill-opacity="1" d="M0,96L120,90.7C240,85,480,75,720,90.7C960,107,1200,149,1320,170.7L1440,192L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
</div>
</section>