<section class="heroCTA">
  <div class="wrapper">
    <div class="title">
      <h1>Plumbers You Can
        <br><span>Actually</span> Trust
      </h1>
      <p>Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
      <div class="buttons">
        <button>How Can We Help You?</button>
      </div>
    </div>
    <div class="heroImg">
      <!-- <img alt="hero" src="./static/img/test.png" class="	remarkri--img"> -->
     {% respimg 
    "test.png", 
    "Photo of a car", 
    "./static/img/",
    { small: 320, med: 640, large: 1024 },
    "(min-width: 450px) 33.3vw, 100vw",
    "my-image",
    "1024",
    "768"
%}{% endrespimg %}
    </div>
  </div>

</section>