.heroCTA{
    @apply
    bg-cps-blue-700
    text-white;

    .wrapper{
        @apply
        container 
        mx-auto 
        flex 
        px-5 
        py-6
        md:py-12
        xl:py-16 
        flex-col 
        md:flex-row 
        items-center;

        .title{
            @apply 
            lg:w-1/2 
            lg:pr-24 
            md:pr-16
            xl:pr-12 
            flex 
            flex-col 
            mb-16 md:mb-0 
            items-center 
            text-center 
            md:items-start 
            md:text-left 
            xl:w-7/12;

            h1{
                @apply
                text-5xl 
                sm:text-6xl
                md:text-5xl 
                lg:text-6xl 
                xl:text-7xl 
                2xl:text-8xl 
                lg:mb-4 
                sm:mt-4 
                font-medium 
                capitalize
                text-white;

                br{
                    @apply
                    hidden 
                    2xl:inline-block
                }
                span{
                    @apply
                    italic 
                    font-bold
                    pl-4
                }
            }

            p{
                @apply
                mb-3 
                mt-3 
                mx-auto
                md:my-3 
                leading-relaxed 
                xl:w-3/4
                lg:my-6 
                lg:text-xl
                
            }
        }

        .buttons{
            @apply
            flex
            justify-center
            w-full
            xl:mt-4;

            button{
                @apply
                inline-flex 
                text-white 
                bg-cps-orange-500 
                border-0 
                py-2 
                px-6 
                shadow-xl
                transition
                duration-300
                focus:outline-none 
                hover:bg-cps-orange-400 
                rounded 
                text-lg;
            }
        }

        .heroImg{
            @apply
            mt-12
            lg:mt-0
            lg:max-w-lg 
            lg:w-full 
            md:w-1/2 
            w-5/6
            order-first
            rounded-full
            shadow-xl
            md:order-none;

            img{
                @apply
                object-cover 
                object-center 
                rounded-full
                shadow-xl
                
            }
        }
    }
    .curveBottom{
            @apply
            bg-gray-100  
        }
}