---
layout: default
---

<div class="article">

  <!-- Post Section -->
  <section>

    <article>
      <!-- Article Image -->
      <div class="article__img">
        <img src="https://source.unsplash.com/collection/1346951/1000x500?sig=1">
      </div>
      <div class="article__container">
        <a href="#" class="article__category">Technology</a>
        <h1 class="article__title">Lorem Ipsum Dolor Sit Amet Dolor Sit Amet</a>
        <span class="article__details">
          By <a href="#">David Grzyb</a>, Published on April 25th, 2020
        </span>
        <h3>Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel neque non libero suscipit suscipit eu eu urna. Proin bibendum urna mattis ante malesuada ultrices. Etiam in turpis vitae elit dictum aliquet. Donec mattis risus in turpis dapibus, eget tempus sem tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In est enim, imperdiet sed ornare quis, pellentesque vel risus. Nunc vitae vestibulum turpis. Quisque eget eleifend urna. Etiam et vulputate purus, ut egestas sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis quis neque non urna venenatis mollis et at massa. Pellentesque sem lacus, malesuada vel hendrerit molestie, mollis vel elit.</p>
      </div>
    </article>

  </section>

  <!-- Sidebar Section -->
  <aside>

    <div class="authorCard">
      <div class="authorCard__top">
        <div class="authorCard__img">
          <img src="https://picsum.photos/200" alt="">
        </div>
        <div class="authurCard__name">
          <h3>John Smith</h3>
          <h4>Article Writer</h4>
        </div>
      </div>

      <div class="authorCard__bio">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis est eu odio sagittis tristique. Vestibulum ut finibus leo. In hac habitasse platea dictumst.</p>

      </div>
    </div>

    <div class="articleLinks">
      <div class="articleLinks__container">
        <div class="articleLinks__card">
          <div class="articleLinks__card__top">
            <h3>Article Links</h3>
          </div>
          <div class="articleLinks__card__bottom">
            <div class="flex flex-col justify-between flex-1 p-6 bg-white">
              <div>
                <div class="py-1 hover:text-blue-500 lg:text-xl">
                  <a href="#" class="">Mastering
                    Livewire and the art of doing <things></things></a>
                </div>
                <div class="py-1">
                  <a href="#" class="">Mastering
                    Livewire</a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </aside>

</div>