---
layout: default
---


<section class="service" x-data="{tab: 'tab1', faq: ''}">
  <div class="service__container">
    <div class="service__container__wrap">
      <img alt="" class="serviceImg" src="{{image}}">
      <div class="serviceInfo">

        <h2>{{serviceCategory}}</h2>
        <h1>{{title}}</h1>

        <div class="serviceInfo__tabs">
          <a @click.prevent="tab = 'tab1'" :class="{'activeLink': tab === 'tab1'}" class="tabLink">Description</a>
          <a @click.prevent="tab = 'tab2'" :class="{'activeLink': tab === 'tab2'}" class="tabLink">FAQs</a>
          <a @click.prevent="tab = 'tab3'" :class="{'activeLink': tab === 'tab3'}" class="tabLink">Details</a>
        </div>
        <div class="serviceInfo__description" x-show="tab === 'tab1'">

          <p>{{snippet}}</p>

          {{service-faqs.faqs[0].answer}}

          <div class="serviceInfo__description__icons">
            {% for icon in feature %}

                    {% if icon === 'Fast Installation' %}
                        <div class="icon">
                            <i class="fad fa-rabbit-fast"></i>
                            <span>Fast Installation</span>
                        </div>

                    {% elseif icon === 'Lower Energy Cost' %} 
                        <div class="icon">
                            <i class="fad fa-lightbulb-dollar"></i>
                            <span>Lower Energy Cost</span>
                        </div>

                    {% elseif icon === 'Eco-Friendly' %} 
                        <div class="icon">
                            <i class="fad fa-seedling"></i>
                            <span>Eco Friendly</span>
                        </div>

                    {% elseif icon === 'Annual Inspection Req.' %} 
                        <div class="icon">
                            <i class="fad fa-calendar-check"></i>
                            <span>Annual Inspection Req.</span>
                        </div>

                    {% elseif icon === 'Special Savings' %} 
                        <div class="icon">
                            <i class="fad fa-usd-circle"></i>
                            <span>Special Savings</span>
                        </div>

                    {% elseif icon === 'Cleaner Water' %} 
                        <div class="icon">
                            <i class="fad fa-tint"></i>
                            <span>Cleaner Water</span>
                        </div>

                    {% elseif icon === 'Instant Hot Water' %} 
                        <div class="icon">
                            <i class="fad fa-thermometer-three-quarters"></i>
                            <span>Instant Hot Water</span>
                        </div>

                    {% elseif icon === '1 Year Warranty' %} 
                        <div class="icon">
                            <i class="fad fa-badge-check"></i>
                            <span>1 Year Warranty</span>
                        </div>

                    {% elseif icon === '2 Year Warranty' %} 
                        <div class="icon">
                            <i class="fad fa-badge-check"></i>
                            <span>2 Year Warranty</span>
                        </div>

                    {% elseif icon === '3 Year Warranty' %} 
                        <div class="icon">
                            <i class="fad fa-badge-check"></i>
                            <span>3 Year Warranty</span>
                        </div>

                    {% elseif icon === '4 Year Warranty' %} 
                        <div class="icon">
                            <i class="fad fa-badge-check"></i>
                            <span>4 Year Warranty</span>
                        </div>

                    {% elseif icon === '5 Year Warranty' %} 
                        <div class="icon">
                            <i class="fad fa-badge-check"></i>
                            <span>5 Year Warranty</span>
                        </div>

                    {% elseif icon === 'Premium Quality' %} 
                        <div class="icon">
                            <i class="fad fa-award"></i>
                            <span>Premium Quality</span>
                        </div>

                    {% elseif icon === 'Wifi Enabled' %} 
                        <div class="icon">
                            <i class="fad fa-wifi"></i>
                            <span>Wifi Enabled</span>
                        </div>

                    {% endif %}
            {% endfor %}
          </div>

          <div class="serviceInfo__description__buttons">
            <button class="pricing">
              <i class="fad fa-question-circle"></i> Get Service Pricing
            </button>
            <button class="scheduleService">
              <i class="fad fa-calendar-alt"></i> Schedule Service
            </button>
          </div>

        </div>
        <div class="serviceInfo__faqs" x-show="tab === 'tab2'">

          <div class="serviceInfo__faqs__container">
            <div @click="faq = 'faq1'" class="faq">
              <div class="faq__container">
                Lorem ipsum dolor sit amet?
                <span>
                  <i class="far fa-plus"></i>
                </span>
              </div>
              <div x-show="faq === 'faq1'" class="p-3">
                <p class="text-gray-600 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed nulla porttitor, porttitor arcu ut, dictum augue. Vestibulum consequat in urna in bibendum. Praesent sed magna risus. Nunc elementum in mauris ac pharetra. Ut blandit ut lorem sit amet rutrum. Vivamus ut purus fringilla, euismod nibh ut, blandit.</p>
                <p class="text-gray-600">Nunc ac efficitur sapien. Mauris eu lectus odio. Mauris ac erat tortor. Nulla consectetur commodo justo. Pellentesque eget ornare quam. Pellentesque sodales metus non semper luctus. Praesent non ornare tellus, eget vulputate tellus. Donec luctus non sapien sed semper.</p>
              </div>
            </div>
            <div @click="faq = 'faq2'" class="faq">
              <div class="faq__container">
                Lorem ipsum dolor sit amet?
                <span>
                  <i class="far fa-plus"></i>
                </span>
              </div>
              <div x-show="faq === 'faq2'" class="p-3">
                <p class="text-gray-600 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed nulla porttitor, porttitor arcu ut, dictum augue. Vestibulum consequat in urna in bibendum. Praesent sed magna risus. Nunc elementum in mauris ac pharetra. Ut blandit ut lorem sit amet rutrum. Vivamus ut purus fringilla, euismod nibh ut, blandit.</p>
                <p class="text-gray-600">Nunc ac efficitur sapien. Mauris eu lectus odio. Mauris ac erat tortor. Nulla consectetur commodo justo. Pellentesque eget ornare quam. Pellentesque sodales metus non semper luctus. Praesent non ornare tellus, eget vulputate tellus. Donec luctus non sapien sed semper.</p>
              </div>
            </div>
            <div @click="faq = 'faq3'" class="faq">
              <div class="faq__container">
                Lorem ipsum dolor sit amet?
                  <span>
                    <i class="far fa-plus"></i>
                  </span>
              </div>
              <div x-show="faq === 'faq3'" class="p-3">
                <p class="text-gray-600 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed nulla porttitor, porttitor arcu ut, dictum augue. Vestibulum consequat in urna in bibendum. Praesent sed magna risus. Nunc elementum in mauris ac pharetra. Ut blandit ut lorem sit amet rutrum. Vivamus ut purus fringilla, euismod nibh ut, blandit.</p>
                <p class="text-gray-600">Nunc ac efficitur sapien. Mauris eu lectus odio. Mauris ac erat tortor. Nulla consectetur commodo justo. Pellentesque eget ornare quam. Pellentesque sodales metus non semper luctus. Praesent non ornare tellus, eget vulputate tellus. Donec luctus non sapien sed semper.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="serviceInfo__details" x-show="tab === 'tab3'">
            {{details}}
        </div>
      </div>

    </div>
  </div>
</section>