---
layout: default
---
<section class="servicesHero">
    <div class="servicesHero__wrapper">
        <div class="servicesHero__wrapper__text">
            <h1>{{headingText}}
            </h1>
            <p>{{headercontent}}</p>
            <div class="buttons">
                <button  onclick="document.getElementsByTagName('iframe')[0].style.display = 'block'; document.getElementsByTagName('iframe')[0].style.height = '441px';"><i class="{{buttonIcon}}"></i>{{buttonText}}</button>
            </div>
        </div>
        <div class="servicesHero__wrapper__img">
            <img alt="" src="{{serviceImage}}">
        </div>
    </div>
</section>
<div class="bg-gray-100">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="#004f9e" fill-opacity="1" d="M0,96L120,90.7C240,85,480,75,720,90.7C960,107,1200,149,1320,170.7L1440,192L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
</div>
<section class="serviceSearch">
    <h3>Search Our Services</h3>

<div class="serviceSearch__wrapper" x-data="loadEmployees()">
  <input x-ref="searchField" 
        x-model="results.services.search" 
        x-bind:value="results.articles.search" 
        x-on:input="results.articles.search = $event.target.value" 
        x-on:click="results.services.viewPage(0), results.articles.viewPage(0)" 
        x-on:keydown.window.prevent.slash=" results.services.viewPage(0), results.articles.viewPage(0), $refs.searchField.focus()" 
        placeholder="How can we help you?" type="search" />

  <div class="serviceSearch__wrapper__header">
    <div class="serviceSearch__wrapper__header__border">
      <div class="serviceSearch__wrapper__header__border__filled"></div>
    </div>
    <div class="serviceSearch__wrapper__header__title">{{serviceType}} Services</div>
  </div>

  <div class="serviceSearch__wrapper__serviceResults">
    <template x-for="item in results.services.filteredResults" :key="item">
    <a :href="`${item.service_link}`">
      <div class="serviceCard">
        <div class="serviceCard__wrapper">
          <div class="serviceCard__wrapper__image">
              <img :src="`${item.service_image}`" alt="">
          </div>

          <div class="serviceCard__wrapper__content">
            <div class="serviceCard__wrapper__content__container">
              <div class="serviceCard__wrapper__content__container__title">
                <h5 x-text="`${item.service_name}`"></h5>
              </div>
              <div class="serviceCard__wrapper__content__container__category">
                <h6>{{serviceType}}</h6>
              </div>
            </div>
            <div class="serviceCard__wrapper__content__container__icon">
              <i class="fal fa-arrow-right"></i>
            </div>

          </div>
        </div>
      </div>
     </a>

    </template>
  </div>

  <div class="serviceSearch__wrapper__pag">
    <div class="serviceSearch__wrapper__pag__spacer"></div>
    <div class="serviceSearch__wrapper__pag__results">
      <div>
        <div class="resultsContainer">
          <div class="resultsContainer__count" x-show="results.services.pageCount() > 1">
            Page <span x-text="results.services.pageNumber+1"> </span> of
            <span x-text="results.services.pageCount()"></span> | Showing
            <span x-text="results.services.startResults()"></span> to
            <span x-text="results.services.endResults()"></span>
          </div>

          <div class="resultsContainer__total" x-show="results.services.total > 0">
            Total
            <span x-text="results.services.total"></span> results
          </div>

          <!--Message to display when no results-->
          <div class="resultsContainer__noResults" x-show="results.services.total===0">
            <svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="9" />
              <line x1="9" y1="10" x2="9.01" y2="10" />
              <line x1="15" y1="10" x2="15.01" y2="10" />
              <path d="M9.5 16a10 10 0 0 1 6 -1.5" />
            </svg>

            <span> No results!!</span>
          </div>
        </div>
      </div>
    </div>
    <div class="serviceSearch__wrapper__pag__buttons" x-show="results.services.pageCount() > 1">
      <!--Previous Button-->
      <button x-on:click="results.services.prevPage()" 
            :disabled="results.services.pageNumber==0" 
            :class="{ 'disabled cursor-not-allowed text-gray-600' : results.services.pageNumber==0 }" >

        <i class="far fa-arrow-square-left"></i>
      </button>

      <!--Next Button-->
      <button x-on:click="results.services.nextPage()" 
            :disabled="results.services.pageNumber >= results.services.pageCount() -1" 
            :class="{ 'disabled cursor-not-allowed text-gray-600' : results.services.pageNumber >= results.services.pageCount() -1 }">
        <i class="far fa-arrow-square-right"></i>
      </button>
    </div>
  </div>

  <div class="serviceSearch__wrapper__header">
    <div class="serviceSearch__wrapper__header__border">
      <div class="serviceSearch__wrapper__header__border__filled"></div>
    </div>

    <div class="serviceSearch__wrapper__header__title">Articles</div>
  </div>
  <div class="serviceSearch__wrapper__articleResults">
    <div class="serviceSearch__wrapper__articleResults__wrapper">
      <template x-for="item in results.articles.filteredResults" :key="item">

        
        <div class="articleCard">
          <div class="articleCard__container">
            <img :src="`${item.profile_image}`" alt="blog">
            <div class="articleCard__container__text">
              <h2>CATEGORY</h2>
              <h1 x-text="item.employee_name"></h1>
              <p>Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
              <div class="articleCard__container__text__read">
                <a>Read More
                  <i class="far fa-arrow-right"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>


<div class="serviceSearch__wrapper__pag">
    <div class="serviceSearch__wrapper__pag__spacer"></div>
    <div class="serviceSearch__wrapper__pag__results">
      <div>
        <div class="resultsContainer">
          <div class="resultsContainer__count" x-show="results.articles.pageCount() > 1">
            Page <span x-text="results.articles.pageNumber+1"> </span> of
            <span x-text="results.articles.pageCount()"></span> | Showing
            <span x-text="results.articles.startResults()"></span> to
            <span x-text="results.articles.endResults()"></span>
          </div>

          <div class="resultsContainer__total" x-show="results.articles.total > 0">
            Total
            <span x-text="results.articles.total"></span> results
          </div>

          <!--Message to display when no results-->
          <div class="resultsContainer__noResults" x-show="results.articles.total===0">
            <svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="9" />
              <line x1="9" y1="10" x2="9.01" y2="10" />
              <line x1="15" y1="10" x2="15.01" y2="10" />
              <path d="M9.5 16a10 10 0 0 1 6 -1.5" />
            </svg>

            <span> No results!!</span>
          </div>
        </div>
      </div>
    </div>
    <div class="serviceSearch__wrapper__pag__buttons" x-show="results.articles.pageCount() > 1">
      <!--Previous Button-->
      <button x-on:click="results.articles.prevPage()" 
            :disabled="results.articles.pageNumber==0" 
            :class="{ 'disabled cursor-not-allowed text-gray-600' : results.articles.pageNumber==0 }" >

        <i class="far fa-arrow-square-left"></i>
      </button>

      <!--Next Button-->
      <button x-on:click="results.articles.nextPage()" 
            :disabled="results.articles.pageNumber >= results.articles.pageCount() -1" 
            :class="{ 'disabled cursor-not-allowed text-gray-600' : results.articles.pageNumber >= results.articles.pageCount() -1 }">
        <i class="far fa-arrow-square-right"></i>
      </button>
    </div>
  </div>

</div>
</section>

{{content | safe}}
