{% macro icons(serviceIcons) %}

{% for feature in serviceIcons %}

{% if feature === 'Fast Installation' %}
    <div class="icon">
        <i class="fad fa-rabbit-fast"></i>
        <span>Fast Installation</span>
    </div>

{% elseif feature === 'Lower Energy Cost' %} 
    <div class="icon">
        <i class="fad fa-lightbulb-dollar"></i>
        <span>Lower Energy Cost</span>
    </div>

{% elseif feature === 'Eco Friendly' %} 
    <div class="icon">
          <i class="fad fa-seedling"></i>
        <span>Eco Friendly</span>
    </div>

{% elseif feature === 'Annual Inspection Req.' %} 
    <div class="icon">
          <i class="fad fa-calendar-check"></i>
        <span>Annual Inspection Req.</span>
    </div>

{% elseif feature === 'Special Savings' %} 
    <div class="icon">
          <i class="fad fa-usd-circle"></i>
        <span>Special Savings</span>
    </div>

{% elseif feature === 'Cleaner Water' %} 
    <div class="icon">
          <i class="fad fa-tint"></i>
        <span>Cleaner Water</span>
    </div>

{% elseif feature === 'Instant Hot Water' %} 
    <div class="icon">
          <i class="fad fa-thermometer-three-quarters"></i>
        <span>Instant Hot Water</span>
    </div>

{% elseif feature === '1 Year Warranty' %} 
    <div class="icon">
          <i class="fad fa-badge-check"></i>
        <span>1 Year Warranty</span>
    </div>

{% elseif feature === '2 Year Warranty' %} 
    <div class="icon">
          <i class="fad fa-badge-check"></i>
        <span>2 Year Warranty</span>
    </div>

{% elseif feature === '3 Year Warranty' %} 
    <div class="icon">
          <i class="fad fa-badge-check"></i>
        <span>3 Year Warranty</span>
    </div>

{% elseif feature === '4 Year Warranty' %} 
    <div class="icon">
          <i class="fad fa-badge-check"></i>
        <span>4 Year Warranty</span>
    </div>

{% elseif feature === '5 Year Warranty' %} 
    <div class="icon">
          <i class="fad fa-badge-check"></i>
        <span>5 Year Warranty</span>
    </div>

{% elseif feature === 'Premium Quality' %} 
    <div class="icon">
          <i class="fad fa-award"></i>
        <span>Premium Quality</span>
    </div>

{% elseif feature === 'Wifi Enabled' %} 
    <div class="icon">
          <i class="fad fa-wifi"></i>
        <span>Wifi Enabled</span>
    </div>


{% endfor %}

{% endmacro %}